html {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow: hidden;

}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  background: url("/background.png" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
}


#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hud-cust{
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: white;
  font-weight: 700;
  z-index: 2;
  pointer-events: none;
}

.hud-title{
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: "BasicBold";
  font-size: 16px;
}

.hud-why{
  position: absolute;
  top: 40px;
  right: 60px;
  font-family: "BasicBold";
  font-size: 16px;
}

.explore-block{
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-family: "BasicLight";
  font-weight: 400;
  max-width: 30%;
  font-size:16px;
}

.explore-block p{
  font-family: "PPNeue-Light";
  font-weight: 400;
}

.explore-btn{
  font-family: "BasicBold";
  font-size:16px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  width: fit-content;
}