

@font-face {
  font-family: "BasicLight";
  src: url("./assets/fonts/MonumentExtended-UltraLight.otf");
  font-weight: 400;
}


@font-face {
  font-family: "BasicBold";
  src: url("./assets/fonts/MonumentExtended-Bold.otf");
}

@font-face {
  font-family: "PPNeue-Light";
  src: url("./assets/fonts/ppneuemontreal-medium.otf");
}


html {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow: hidden;


}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  background: url("/background.png" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
}


#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loadingWrapper{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.elementload{
  color:white;
  text-align: center;
}

.progress-cont{
  width: 65%;
  border: 3px white solid;
  margin: 7px auto;
  height: 10px;
  position: relative;
}

.progressbar{
  width: calc(0% - 5px);
  background-color: white;
  margin: 7px;
  height: 6px;
  top: -5px;
  left: -5px;
  position: absolute;
  transition: width 0.5s ease;
}

.hud-cust.visible{
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: black;
  font-weight: 700;
  z-index: 2;

}
/* Apply the 'hidden' class to hide the overlay */
.hud-cust.hidden {
  height: 0;
}

.hud-title{
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: "BasicBold";
  font-size: 16px;
}

.hud-why{
  position: absolute;
  top: 40px;
  right: 60px;
  font-family: "BasicBold";
  font-size: 16px;
}

.explore-block{
  position: fixed;
  bottom: 40px;
  left: 40px;
  font-family: "BasicLight";
  font-weight: 400;
  max-width: 30%;
  font-size:16px;
  transition: opacity 0.5s ease; /* Add a transition for a smoother effect */

}
/* Apply the 'visible' class to show the overlay */
.explore-block.visible {
  opacity: 1;
  pointer-events: auto; /* Allow interaction with the overlay */
}

/* Apply the 'hidden' class to hide the overlay */
.explore-block.hidden {
  opacity: 0;
  pointer-events: none; /* Disable interaction with the overlay */
}

.explore-block p{
  font-family: "PPNeue-Light";
  font-weight: 400;

}

.explore-btn{
  font-family: "BasicBold";
  font-size:16px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  width: fit-content;
  cursor: pointer;
}