

@font-face {
  font-family: "BasicLight";
  src: url("../public/fonts/MonumentExtended-UltraLight.otf");
  font-weight: 400;
}

@font-face {
  font-family: "BasicRegular";
  src: url("../public/fonts/MonumentExtended-Regular.otf");
  font-weight: 400;
}


@font-face {
  font-family: "BasicBold";
  src: url("../public/fonts/MonumentExtended-Bold.otf");
}

@font-face {
  font-family: "PPNeue-Book";
  src: url("../public/fonts/ppneuemontreal-book.otf");
}

html {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow: hidden;
  color: white;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  /* background: url("/background.png" ); */
  background: linear-gradient(160deg, #13547A 8.25%, #80D0C7 91.35%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  font-family: "PP Neue Montreal";
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loadingWrapper{
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  background: linear-gradient(160deg, #13547A 8.25%, #80D0C7 91.35%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.elementload{
  color:white;
  text-align: center;
}

.progressbar{
  width: calc(0% - 5px);
  background-color: white;
  margin: 7px;
  height: 6px;
  top: -5px;
  left: -5px;
  position: absolute;
  transition: width 0.5s ease;
}

.hud-cust.visible{
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: white;
  font-weight: 400;
  z-index: 2;

}
/* Apply the 'hidden' class to hide the overlay */
.hud-cust.hidden {
  height: min-content;
}

.hud-title{
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: "BasicRegular";
  font-size: 16px;
  z-index: 4;
}

.hud-why{
  position: absolute;
  top: 40px;
  right: 60px;
  font-family: "BasicRegular";
  font-size: 16px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  pointer-events: all;
  z-index: 4;
  transition: opacity 0.3s ease-in-out; /* Add a transition for a smoother effect */

}

.popin {
  position: absolute;
  top: 40px;
  right: 60px;
  display: inline-flex;
  padding: 20px;
  z-index: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
  background: linear-gradient(160deg, #13547A 8.25%, #5cc4b8 91.35%);
  width: 300px;
  height: fit-content;
  color: white;
  transition: opacity 0.5s ease-in-out; /* Add a transition for a smoother effect */
}


.popin-content {
  color: white;
  height: auto;

  /* Customize the styles of the popin content as needed */
}

/* Apply the 'visible' class to show the popin */
.popin.visible {
  opacity: 1;
  pointer-events: auto; /* Allow interaction with the popin */
}

/* Apply the 'hidden' class to hide the popin */
.popin.hidden {
  opacity: 0;
  pointer-events: none; /* Disable interaction with the popin */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color:  white;
  fill: white;
  cursor: pointer;
  pointer-events: all;
  background: transparent;
  border: none;
}
.popinTitle{
  font-family: 'BasicLight';
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.creditsFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credit{
  text-align: left;
  line-height: normal;
  width: 100%;
}
.creditTitle{
  font-size: 16px;
}
.creditText{
  font-size: 14px;
  font-weight: 400;
}
.creditList{
  font-size: 14px;
  padding: 0;
  font-weight: 400;
  width: 100%;
  list-style: none;
  margin-top: 0;

}
.creditItem{
  list-style: none;
}

.explore-block{
  position: fixed;
  bottom: 40px;
  left: 40px;
  font-family: "BasicRegular";
  font-weight: 400;
  max-width: 20%;
  font-size:16px;
  transition: opacity 0.5s ease; /* Add a transition for a smoother effect */

}
/* Apply the 'visible' class to show the overlay */
.explore-block.visible , .hud-why.visible{
  opacity: 1;
  pointer-events: auto; /* Allow interaction with the overlay */
}

/* Apply the 'hidden' class to hide the overlay */
.explore-block.hidden , .hud-why.hidden{
  opacity: 0;
  pointer-events: none; /* Disable interaction with the overlay */
}

.explore-block p{
  font-family: "PPNeue-Book";
  font-weight: 400;

}

.explore-btn{
  font-family: "BasicRegular";
  font-size:16px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: white;
  width: fit-content;
  cursor: pointer;
  font-weight: 400;
  margin: 0 30px;
}

.explore-btn:after {
  display:block;
  content: '';
  border-bottom: solid 1px white;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.explore-btn:hover:after { transform: scaleX(1); }
.explore-btn:after{  transform-origin:  0% 50%; }

.music-btn{
  position: absolute;
  bottom: 40px;
  right: 60px;
  display: flex;
  gap: 10px;
  z-index: 4;
  font-family: "BasicRegular";
  font-size: 16px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out; /* Add a transition for a smoother effect */
}

.sound-text{

  font-family: "PPNeue-Book";
  font-weight: 400;
  font-size: 16px;

}

.sound-state{
  font-family: "BasicRegular";
  font-weight: 400;
  font-size: 16px;

}

.linear-back-hud{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #80d0c700 57%, #80D0C7 91.35%);
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.arrow {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
}

.btn-explore-cont{
  position: relative;
  width: fit-content;
}

.right{
  animation: arrowRightAnimation 1.5s infinite alternate ease-in-out;
  position: absolute;
  right: -16px;
  top: -11px;
}

.left{
  animation: arrowLeftAnimation 1.5s infinite alternate ease-in-out;
  position: absolute;
  left: -26px;
  top: -11px;
}

.text {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}

.arrow.left::before {
  content: '\2192'; /* Left arrow */
}

.arrow.right::before {
  content: '\2190'; /* Right arrow */
}

@keyframes arrowRightAnimation {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px); /* Ajustez la distance du mouvement ici */
  }
}

@keyframes arrowLeftAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px); /* Ajustez la distance du mouvement ici */
  }
}





































@media only screen and (max-width: 900px) {
  .popin {
    z-index: 4;
    width: auto;
    margin: 0 auto ;
    top: 20px;
    right: 15px;
    background: linear-gradient(160deg, #13547A 8.25%, #80D0C7 91.35%);
    padding: 30px;
  }

  .hud-why{
    right: 20px;
  }
  .hud-title{
    left:20px;
  }
  .explore-block {
    left:20px;
  }
  .music-btn{
    right: 20px;
    bottom: 42px;
  }

}
